*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(177, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-container{
    border: 1px solid whitesmoke;
    height: 360px;
    width: 260px;
    border-radius: 15px;
    background-color: white;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue-box{
    border: 1px solid rgb(41, 154, 207);
    background-color:rgb(96, 24, 203);
    height:200px;
    width:220px;
    border-radius: 15px;
    margin: 5px;
    display: flex;
    align-items:start;
    justify-content:flex-start ;
}
.image-content img{
     height: 100px; 
     width: 100px; 
     display: flex; 
    align-items: center;
    justify-content: center;
}
.image-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    width: 260px;
}
.heading-container{
    font-size: 10px;
    margin:4%;
    text-align: center;
}
.paragraph-container{
    font-size:14px;
    margin:4%;
    text-align: center;
    letter-spacing: 1px;
}